/*defaut setting start*/
* {
    padding: 0 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #d8934a24;
    padding: 0 48px;

}

.nav_bar{
    width: 33%;
}
/*bỏ gạch dưới chân */
ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li a{
    display: inline-block;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    transition: all ease 0.2s;
}

li a:hover{
    background-color: #eeecec;
}

li a:active{
    background-color: #eeecec;
    transform: scale(0.98);
    opacity: 0.7;
}
/*set font chữ*/
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    /*change word type*/
}

/*-------*/
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
    color: black;
}

.col-second {
    width: 50%;
}

.row-full {
    width: 100%;
}

.row-third {
    width: 33.33%;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.text-center {
    text-align: center !important;
}

h6 {
    color: rgba(0, 0, 0, 0.5);
}

h5 {
    color: rgba(0, 0, 0, 0.8);
}

h1,h2,h3{
    margin: 8px 0;
}
/*-------*/

/*---------------base end--------------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
/*--------------------------------------------------*/
#main {

    display: block;
    content: "";
    background-color: white;
    overflow: hidden;
}
/*defaut setting end*/
/*header start*/
header{
    display: flex;
}
.nav_bar{
    display: flex;
}
/*header end*/
/*body start*/

figure{
    text-align: center;
    margin: 8px 0 20px;
}

/* ====================FOOTER========================== */

.footer {
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 24px 48px 0;
}

.firstWrapperFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer .logoInforFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 0;
}

.footer .logoInforFooter .logo {
    margin-bottom: 1rem;
}

.footer .logoInforFooter .footerSlogan {
    font-size: 1rem;
    margin: 0.5rem 0 0;
    font-weight: bold;
}

.footer .flexContainerFooter {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    line-height: 1.8em;
    margin: 0;
}

.footer .flexContainerFooter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer .flexContainerFooter li span {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 16px;
    display: inline-block;
}

.footer .flexContainerFooter li ul li {
    cursor: pointer;
    transition: color 0.15s ease;
}

.footer .flexContainerFooter li ul li:hover {
    color: rgb(6, 6, 222);
}

footer hr {
    margin: 20px 0 0;
}

.footer .secondWrapperFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .secondWrapperFooter .contactMedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .secondWrapperFooter .contactMedia span {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 16px;
}

.footer .secondWrapperFooter .contactMedia .media a {
    margin-left: 4px;
}

.footer .secondWrapperFooter .contactMedia img {
    height: 2rem;
    width: 2rem;
}
